/* ===== RESET BASE ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== VARIABILI COLORI ===== */
:root {
    --primary: #1abc9c;
    --primary-dark: #16a085;
    --accent: #f39c12;
    --text: #333;
    --light-bg: #f4f9f9;
}

/* ===== STILE GENERALE ===== */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    line-height: 1.6;
    background-color: #ffffff;
    padding: 2rem;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    margin: auto;
}

nav div {
    display: block;
}

nav ul {
    display: none;
}

#menu {
    position: relative;
    cursor: pointer;
}

#menu-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;

    text-align: end;

    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
}

#menu:hover #menu-list {
    display: block;
}

footer {
    width: 100%;
    display: flex;
}

.footer-links {
    margin: 1rem;
}

/* ===== CONTAINER ===== */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    /* centro orizzontale (asse principale) */
    align-items: center;
    /* centro verticale (asse trasversale) */
}

.container-c {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centro orizzontale (asse principale) */
    align-items: center;
    /* centro verticale (asse trasversale) */
}

.card {
    text-align: center;
    height: 15rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    align-self: flex-start;
}

.card p {
    font-size: 14px;
    margin-bottom: 15px;
}

.card img {
    height: 100px;
    width: auto;
    border-radius: 8px;
}

img {
    width: 100%;
    margin: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1, 5rem;
}

p {
    font-size: 1rem;
    text-align: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}